.app{
  padding-left: 15px;
  padding-right: 15px;
  font-family:cursive;
  background-color: #dddbdb;
}

.blog-form{
  font-family: fantasy;
  width: 50%;
}

.form-text{
  font-family: fantasy;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.form-content{
  border: none;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 14px;
  border-radius: 5px;
  font-family: serif;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.submitButton{
  text-align: center;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 18px;
  font-family: cursive;
  font-weight: bold;
  background-color: white; 
  color: black; 
  border: 2px solid #5896d6;
}

.submitButton:hover {
  background-color: #5896d6;
  color: white;
}

.blog-post__display{
  padding:10px;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 30px;
}

.blogButton, .blogTitle{
  display: inline-flex;
}

.blogButton{
  float: right;
  margin-right: 15px;
  margin-top: 25px;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-family: cursive;
  background-color: white; 
  color: red; 
  border: 2px solid red;
}

.blogButton:hover{
  background-color: red;
  color: white;
}

.goodbye{
  text-align: center;
  font-family: consolas;
  font-size: 16px;
}

.site-head{
  background-color: black;
}

.page-header{
  text-align: left;
  padding: 10px;
  color: white;
}